#header-title {
  background: #DDDDDD;
  border: 1px solid #999999;
  display: block;
  margin: 10px auto;
  padding: 20px;
  text-align: center;
  
  -moz-border-radius: 20px 10px 30px 50px; 
  -webkit-border-radius: 20px 10px 30px 50px; 
  border-radius: 20px 10px 30px 50px;
  
  -moz-box-shadow: rgb(150,150,150) 5px -6px 10px inset; 
  -webkit-box-shadow: rgb(150,150,150) 5px -6px 10px inset; 
  box-shadow: rgb(150,150,150) 5px -6px 10px inset;
  
  background: -webkit-linear-gradient(30deg, #FFFFFF, #006699);
  background: -moz-linear-gradient(30deg, #FFFFFF, #006699);
  
  background: -webkit-radial-gradient(center, ellipse, #FFFFFF 0%, #006699 200%);
  
  -moz-transform: scale(1, 1.2);
  -webkit-transform: scale(1, 1.2);
  
  -moz-transform: rotate(15deg); 
  -webkit-transform: rotate(15deg);
  
  -moz-transform: skew(20deg);
  -webkit-transform: skew(20deg);
  
  -moz-transform: translate(100px); 
  -webkit-transform: translate(100px);
  
  -moz-transform: translateY(100px) rotate(20deg) scaleX(0.4); 
  -webkit-transform: translateY(100px) rotate(20deg) scaleX(0.4);
  
  -moz-transition: -moz-transform 1s ease-in-out 0.5s;
  -webkit-transition: -webkit-transform 1s ease-in-out 0.5s;
}

#span-title {
  font: bold 36px verdana, sans-serif;
  text-shadow: rgba(0,0,0,0.5) 3px 3px 5px;
  color: hsla(120, 100%, 50%, 0.5);
}

#header-title:hover{
  -moz-transform: rotate(5deg); 
  -webkit-transform: rotate(5deg);
}

#text-px {
  font-size: 14px;
}
#text-em {
  font-size: 1.5em;
}

#google-fonts {
  font-family: 'Dancing Script', cursive;
  font-size: 1.5em;
  font-style: normal;
}
#adobe-fonts {
  font-family: patriot, sans-serif;
  font-weight: 300;
  font-style: normal;
}
#everything-fonts {
  font-family: 'BeyondWonderland';
  font-size: 1.5em;
  color: #333;
}
#all-font {
  font-family: 'Lobster', arial;
  font-size: 1.3em;
}
